#!/bin/bash

# shellcheck source=/home/marpauli/.functions.sh
. ~/.config/aliases/.functions.sh

### General aliases
# ll
alias ll='ls -la --color=auto'
# ll in human readable format
alias lh='ls -lAh'
# du all items in folder, human readable 
alias dh='du -chs *'
# grep shorthand
alias g='grep'
# python 3.12 interpreter/REPL
alias py='python3.12'
# sqlite3 with --table
alias sq='sqlite3 --table'
# source ~/.config/aliases/.aliases
alias sa='source ~/.config/aliases/.aliases'
# edit aliases files ('ea h' for help)
alias ea=edit_aliases
# copy <text> to clipboard
alias xc='xclip -sel clip'
# print alias description
alias h='display_alias_descriptions'
### Dev aliases
# neovim (LazyVim)
fake_alias nv
# cd to nvim config folder
alias nvc='cd ~/.config/nvim'
# activate poetry environment
alias ape=activate_poetry_env
# SyncSuite rsync to remote
alias r2r='/home/marpauli/code/elvis/SyncSuite/rsync_to_remote.py -cd /home/marpauli/code/sync_config/cml'
# SyncSuite file map
alias rfm='/home/marpauli/code/elvis/SyncSuite/file_map.py -cd /home/marpauli/code/sync_config/cml'
# Test Path Convertor tool
alias tpc='/home/marpauli/.cache/pypoetry/virtualenvs/test-path-converter-1xglui3r-py3.12/bin/python3 /home/marpauli/code/TestPathConverter/test_path_converter.py'
# run multiple tests silently from 'paths' file (bash only!)
alias rmt="bash -c 'source /home/marpauli/.config/aliases/.functions.sh; run_multiple_tests'"
# alias rmt=run_multiple_tests
# edit 'paths' file from 'rmt'
alias rmte='nv ~/code/TestPathConverter/paths'
# run pre-commit on changed files only
alias pc='pre-commit run --files $(git diff --name-only)'
### Remote VM aliases
# ssh to VM
alias s='/home/marpauli/code/DevTools/ssh_to_vm.sh'
# VM setup
alias svm=setup_VM
# git profile
alias gp='/home/marpauli/code/elvis/DevTools/git_credentials.sh'

# LOCAL/CUSTOM bash aliases
# You can create custom local aliases in .local_aliases
# or .custom_aliases file for some temporary aliases
if [ -f ~/.config/aliases/.local_aliases ]; then
  . ~/.config/aliases/.local_aliases
fi
if [ -f ~/.config/aliases/.custom_aliases ]; then
  . ~/.config/aliases/.custom_aliases
fi
# source git aliases
if [ -f ~/.config/aliases/.git_aliases ]; then
  . ~/.config/aliases/.git_aliases
fi
